@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

header{
    padding: 2rem 3rem;
    min-height: 100vh;

    /// NAVBAR SECTION ///
    .navbar-container{
        @include flex-setup;
        justify-content: space-between;

        .first-nav{
            @include flex-setup;
    
            img{
                width: 5.219rem;
                height: 1.66144rem;
                flex-shrink: 0;
                margin-right: 2.5rem;
            }
    
            .dropdown-links{
                .dropdown-link{
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 2rem;
    
                    &:hover {
                        .fa-chevron-down {
                            color: $main-color;
                            transform: rotate(180deg);
                        }
    
                        .links{
                            color: $secondary-color;
                        }
    
                        .dropdown-content{
                            display: block;
                        }
                    }
    
                    .links{
                        color: $main-color;
                        @include text-setup;
                        transition: color .35s;
                    }
    
                    .fa-chevron-down{
                        font-size: .8rem;
                        color: $main-color;
                        margin-left: .2rem; 
                        transition: transform .35s;
                        transform-origin: center;
                    }
    
                    .dropdown-content{
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                        z-index: 1;
                        // min-width: 150px;
                        min-width: 100%;
                        margin-top: .2rem;
                        padding: .625rem 1rem;
                        border-radius: .25rem;

                        .item{
                            @include flex-setup;

                            .img-container{
                                flex: 1;

                                img{
                                    width: 42%;
                                    height: 100%;
                                }
                            }

                            .link-container{
                                flex: 9;

                                a{
                                    display: block;
                                    text-decoration: none;
                                    @include text-setup;
                                    color: $main-color;
                                    padding: .5rem 0;
                                    transition: background-color 0.2s;
            
                                    &:hover{
                                        color: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .hamburger{
            display: none;
        }

        .second-nav{
            .sec-link{
                color: $main-color;
                @include text-setup;

                &:hover{
                    color: $secondary-color;
                }
            }

            .sec-link2{
                border-radius: .8rem;
                border: 1.5px solid $main-color;
                padding: .7rem 1.2rem;
                margin-left: 1.5rem;

                &:hover{
                    border: 1.9px solid $secondary-color;
                }
            }
        }
    }

    .hero-section{
        @include flex-setup;
        margin-top: 2rem;
        margin: 5rem 5rem 0 5rem;

        .text-container{
            flex: 1;

            .hero-text{
                color: $secondary-color;
                font-size: 5rem;
                font-weight: 700;
                line-height: 5rem;
                letter-spacing: -0.06944rem;
                margin-bottom: 2rem;
            }

            .hero-text-mob{
                display: none;
            }

            p{
                color: $main-color;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 1.75rem;
                width: 27.8125rem;
                margin-bottom: 3rem;
            }

            .btn{
                @extend p;
                color: #fff;
                font-size: 1rem;
                letter-spacing: -0.01563rem;
                border-radius: 0.9375rem;
                background: $secondary-color;
                flex-shrink: 0;
                padding: 1rem 1.7rem;

                &:hover{
                    background: transparent;
                    color: $secondary-color;
                    border-radius: 0.9375rem;
                    border: 1px solid
                }
            }

            .sponsor{
                margin-top: 6rem;
                @include flex-setup;
                gap: 0 30px;
                margin-right: 3rem;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .image-container{
            flex: 1;
            text-align: right;

            .desk-img{
                width: 30rem;
                height: 40rem;
                flex-shrink: 0;
            }

            .mob-img{
                display: none;
            }
        }
    }
}

@include mobile-view{
    header{
        padding: 0;

        .navbar-container{
            padding: 1.5rem 1rem;

            .first-nav{
                .dropdown-links{
                    display: none;
                    position: fixed;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    border-radius: .5rem;
                    padding: 2rem;
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
                    height: 45vh;
                    width: 75%;
                    overflow-y: auto;
                    z-index: 50;
                    opacity: 0;
                    transition: opacity 0.4s ease, transform 0.4s ease;

                    &.show{
                        animation: fadeInUp 1s forwards;
                        transform: translate(-50%, -50%) scale(1);
                    }

                    @keyframes fadeInUp{
                        from{
                        opacity: 0;
                        transform: translate(-50%, -50%) scale(0.8) translateY(30px);
                        }

                        to{
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                        }
                    }

                    .dropdown-link{
                        display: flex;
                        align-items: center;
                        margin: auto auto;

                        div{
                            .links{
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
            }

            .hamburger{
                display: block;
                cursor: pointer;

                input{
                    display: none;

                    &:checked{
                        +{
                            svg{
                                transform: rotate(-45deg);

                                .line-top-bottom{
                                    stroke-dasharray: 20 300;
                                    stroke-dashoffset: -32.42;
                                }
                            }
                        }
                    }
                }
                
                svg{
                    height: 3rem;
                    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }

                .line{
                    fill: none;
                    stroke: $secondary-color;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 3;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    
                .line-top-bottom{
                    stroke-dasharray: 12 63;
                }
            }

            .second-nav{
                display: none;
            }
        }

        .hero-section{
            flex-direction: column-reverse;
            margin: 1rem 0 0 0;

            .text-container{
                text-align: center;
                margin: 0 1rem;

                .hero-text{
                    display: none;
                }

                .hero-text-mob{
                    display: block;
                    color: $secondary-color;
                    font-size: 2.25rem;
                    font-weight: 700;
                    line-height: 2.625rem;
                    letter-spacing: -0.03125rem;
                    margin-bottom: 1rem;
                }

                p{
                    width: 100%;
                    text-wrap: balance;
                }

                .sponsor{
                    justify-content: center;
                    gap: 0 20px;
                    width: 5.07819rem;
                    height: 0.89763rem;
                    flex-shrink: 0;
                    margin: 4rem auto 2rem auto;
                }
            }

            .image-container{
                .desk-img{
                    display: none;
                }

                .mob-img{
                    display: block;
                    width: 100%;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}