@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

header{
    padding: 2rem 3rem;
    min-height: 100vh;

    /// NAVBAR SECTION ///
    .navbar-container{
        @include flex-setup;
        justify-content: space-between;

        .first-nav{
            @include flex-setup;
    
            img{
                width: 5.219rem;
                height: 1.66144rem;
                flex-shrink: 0;
                margin-right: 2.5rem;
            }
    
            .dropdown-links{
                .dropdown-link{
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 2rem;
    
                    &:hover {
                        .fa-chevron-down {
                            color: $main-color;
                            transform: rotate(180deg);
                        }
    
                        .links{
                            color: $secondary-color;
                        }
    
                        .dropdown-content{
                            display: block;
                        }
                    }
    
                    .links{
                        color: $main-color;
                        @include text-setup;
                        transition: color .35s;
                    }
    
                    .fa-chevron-down{
                        font-size: .8rem;
                        color: $main-color;
                        margin-left: .2rem; 
                        transition: transform .35s;
                        transform-origin: center;
                    }
    
                    .dropdown-content{
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                        z-index: 1;
                        // min-width: 150px;
                        min-width: 100%;
                        margin-top: .2rem;
                        padding: 10px 16px;
                        border-radius: 4px;

                        .item{
                            @include flex-setup;

                            .img-container{
                                flex: 1;

                                img{
                                    width: 42%;
                                    height: 100%;
                                }
                            }

                            .link-container{
                                flex: 9;

                                a{
                                    display: block;
                                    text-decoration: none;
                                    @include text-setup;
                                    color: $main-color;
                                    padding: 8px 0;
                                    transition: background-color 0.2s;
            
                                    &:hover{
                                        color: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .second-nav{
            .sec-link{
                color: $main-color;
                @include text-setup;

                &:hover{
                    color: $secondary-color;
                }
            }

            .sec-link2{
                border-radius: .8rem;
                border: 1.5px solid $main-color;
                padding: .7rem 1.2rem;
                margin-left: 1.5rem;

                &:hover{
                    border: 1.9px solid $secondary-color;
                }
            }
        }
    }

    .hero-section{
        @include flex-setup;
    }
}