@use 'variables' as *;

@mixin flex-setup{
    display: flex;
    align-items: center;
}

@mixin text-setup{
    font-size: .875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

@mixin mobile-view{
    @media only screen and (max-width: 600px){
      @content;
    }
}