@use 'variables' as *;

html{
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    background-color: #fafafa;
}

*,
::before,
::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}